<div class="container_top">
  <div class="table_top">
    <div class="card front">30</div>
    <div class="card back">30</div>
    <div class="card front">30</div>
    <!-- <label>Ünal</label> -->
  </div>
</div>

<div class="container_middle">
  <div class="table">
    <button>show values</button>
  </div>
</div>

  <div class="container_bottom">
      <div class="table_bottom">
        <div class="card front"></div>
        <div class="card back"></div>
        <div class="card back"></div>
        <!-- <label>Ünal</label> -->
      </div>
  </div>
